@font-face {
  font-family: 'pingfang';
  src: url('../font/pingfang.ttf');
}

body,html {
  margin: 0;
  padding: 0;
  font-family: 'pingfang, Avenir, Helvetica, Arial, sans-serif';
  min-height: 100%;
  background: #f6f8fa;
}


.wrapper {
  min-height: 700px;
  background-color: #f6f8fa;
  margin-bottom: 40px;
}

.header {
  height: 60px !important;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12)
}
.left-bar-title {
  margin: 0 ;
  padding: 20px 0;
  text-align: center;
}


.left-menu {
  z-index: 10;
  border: 1px solid #f2f2f3;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(145,159,165,.1);
  overflow: hidden
}

.right-content {
  background: #fff;
}

.child-item {
  padding-left: 50px !important;
}

.home .el-breadcrumb {
  height: 35px;
  line-height: 35px;
}

.tabs-icon {
  margin-right: 4px;
}

.box-card,
.tabs-card {
  margin-top: 10px;
  /* min-height: 500px; */
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(145,159,165,.1);
}

.tabs-card {
  /* min-height: 600px; */
  margin-top: 0;
}

.serch-filter {
  background-color: #fff;
  padding: 20px 25px 0 0;
  border-radius: 4px;
  box-shadow: 0 0 30px 0 rgba(145,159,165,.1);
  color: #333;
}

.pagination {
  text-align: right;
  margin: 0 0 16px 0;
}

.bottom-button {
  margin-top: 10px;
}


/* element-ui */
.el-menu {
  border-right: 0 !important;
}

.el-main {
  padding: 0 20px 0 20px !important;
  margin: 0 20px;
}

.el-menu-item {
  font-size: 16px !important;
  color: #2F2F4F !important;
  transition: all .5s !important;
}

.el-menu .is-active {
  color: #FF7F00 !important;
  border-right: 3px solid #FF7F00 !important;
  padding-right: 17px !important;
  background-color: #ecf5ff;
}

.el-menu-item:hover {
  color: #FF7F00 !important;
}
.el-menu-item:hover i {
  color: #FF7F00 !important;
}